body  {

	background-color:aqua;
	text-align: center;
}

ul {
	list-style-position: inside;
}

ul > li {
	font-size: 14px;
	font-family: cursive;
}
h1 {
	color: black;
	margin-left: 20px;
}
h1  {
	font-size: 40px;
}
h2  {
	font-size: 40px;
}
h3  {
	font-size: 40px;
}
h4  {
	font-size: 40px;
}
h5  {
	font-size: 40px;
}
h1  {
	text-align: center;
}
